<% @shop.products.each do |product| %>
  <div id="collection">
    <div class="outer">
      <div id="products" class="products clearfix">
        <div class="row clearfix">
          <div class="product">  
            <div class="image"> 
              <%= link_to (image_tag product.image.url(:medium)), shop_product_url(@shop, product) %>       
            </div image>
              <div class="details">
                <a><%= link_to product.name, shop_product_path(@shop, product) %>
                  <span class="price">
                    <h4><%= number_to_currency product.price %></h4>
                  </span>
                </a>
              </div details>  
          </div product>  
        </div row>
      </div outer>
    </div collection>               
<% end %>

