<% @shop.products.each do |product| %>
    <div class="product">  
        <div class="image">        
    
        </div image>
        <div class="details">
          <a><%= link_to product.name, shop_product_path(@shop, product) %>
            <span class="price">
              <h4><%= number_to_currency product.price %></h4>
            </span>
          </a>
        </div details>  
    </div product>                 
<% end %>

