<div class= "header clearfix">
  <div class="fl" style="width:320px; padding:none;">
    <div class="logo">
      <%= image_tag 'Swaglogo.jpg' %>
    </div> <!--/.logo -->
  </div> <!--/.fl -->
  
  <div id="main_navigation"><h3>
    <!-- START LINKS -->
      <ul id="links">
        
                  <li><%= link_to "Shop"%></li>
                  <li><a href>Blog</a></li>
                  <li><a href>About</a></li>
              </ul links></h3>
              
  </div><!--/.main_navigation-->
  
  <div id="cart">
    <div class="box">
      <div class="fl">
        <span class="value"><h3><%= link_to "Cart #{@order_items}", order_items_url %></h3></span>
      </div>
    
    </div><!-- /.box -->
  </div><!-- /.cart -->

</div><!---/.header --->