/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_reset
 *= require_self
 *= require_tree .
 *= require_header
 *= require_body
 *= require_product
 *= require_footer
 *= require_show
 *= require_show-description
*/


body {
	color: #A2A2A2;
	font-size: 12px;
	font-family: Georgia, Utopia, 'Times New Roman', Times, serif;
	line-height: 18px;
}

body#top {
	background: url('black.png');
	background-size: 1400px 900px;
/*	background: #005B00;*/
}

.wrapper {
	position: relative;
	z-index: 100;
	background: #FFF;
	border: 3px solid #666666;
	margin-top: 20px;
	padding: 0 40px 40px;
	width: 900px;
	margin: 0 auto;
}

a {
	text-decoration: none !important;
}

