.product {
	
}

.products .product {
	float: left;
	width:205px !important;
	max-width:205px ;
	margin: 0px 20px 20px 0;
}

.products .product .image img {
	width: 225px;
	max-height: 420px;
}

.products .product .details {
	text-align: center;
	font-weight: 500;
}

.products .product .details a{
	display: block;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	text-align: left;
	color: #666666 !important;
	border-bottom: 3px solid #CCCCCC;
	padding: 10px 2px 5px;
}

span.price h4 {
	font-family: 'Economica', sans-serif;
	text-align:right;
	color: #99CA64;
	margin-bottom: 5px;
	margin-left: -10px;
	padding-top: 10px;
	padding-left: 10px;
	margin-top: -35px;
	margin-right: -10px;
	padding-right: 10px;
	font-size: 1.2em;
}

