
<div class="body clearfix">
    <div class="product">
        <div class="banner clearfix">
            <div class="image">
              <a><%=image_tag @product.image.url(:large) %> </a>
            </div image>
            
            <%= render 'shared/description' %>
            
        </div banner>
          <div class="outer">
      
          </div outer>
    </div product>
</div body>

